<div class="left_div">
  <form action="/pokemon/<%= @pokemon.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <label for="pokemon[name]">Name:</label>
    <input type="pokemon[name]" value="<%= @pokemon.name %>">
    <br>
    <label for="pokemon[img_url]">Image URL:</label>
    <input name="pokemon[img_url]" value="<%= @pokemon.img_url %>">
    <br>
    <br>

    <div class="show">

      <form action="/pokemon" method="get">
        <input class="button" type="submit" value="&larr; Back">
      </form>

      <input class="button" type="submit" value="Submit">
    </div>
  </form>
</div>

<div class="center_div">
  <h2>EditPokemon</h2>
  <p><%= @pokemon.name %></p>
  <img src="<%= @pokemon.img_url %>" alt="">
</div>

<div class="right_div"></div>
