<div class="left_div edit_page">
  <form action="/pokemon/<%= @pokemon.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <label for="pokemon[name]" class="edit_text">Name:</label>
    <br>
    <input name="pokemon[name]" value="<%= @pokemon.name %>">
    <br>
    <label for="pokemon[poke_type]" class="edit_text">Type:</label>
    <br>
    <input name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">
    <br>
    <label for="pokemon[img_url]" class="edit_text">Image:</label>
    <br>
    <input name="pokemon[img_url]" value="<%= @pokemon.img_url %>">
    <br>
    <br>
    <input class="button untilt" type="submit" value="SUBMIT">
  </form>
  <h3 class="cancel untilt"><a href="/">HOME</a></h3>
</div>

<div class="center_div">
  <h2>EditPokemon</h2>
  <p><%= @pokemon.name %></p>
  <img src="<%= @pokemon.img_url %>" alt="">
</div>

<div class="right_div"></div>
