<div class="left_div">
  <div class="left_buttons">
    <h3><a href="/">HOME</a></h3>
    <h3 class="left_two"><a href="/pokemon/<%= @pokemon.id %>/edit">EDIT</a></h3>
    <form class="left_three release_button" action="/pokemon/<%= @pokemon.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input class="button " type="submit" value="RELEASE">
    </form>
  </div>

</div>
<div class="center_div">
  <h2><%=@pokemon.name %></h2>
    <p><%=@pokemon.poke_type %></p>
    <img src="<%= @pokemon.img_url %>">
    <p>CP: <%=@pokemon.cp %></p>
</div>

<div class="right_div"></div>
